.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/images/hand-holds-a-stainer-from-a-cup-of-tea.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-bottom: 10vh;
  box-shadow: 0px 18px 16px 0px rgba(0, 0, 0, 0.87); */
}

.bloc-content {
  width: 75vw;
  padding: 5vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
