.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/images/brick-wall-with-tea-written-on-it.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 15px 5px #000000;
}

.bloc-content {
  padding: 5vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  position: relative;
  bottom: 1px;
  right: 4px;
}

.loginButton {
  background-color: #dd4b39;
  border: 0px;
  box-shadow: 2px 2px 2px #00000047;
  margin-bottom: 10px;
}